<div id="recent" class="container-fluid">
  <div class="row-fluid">
  	<div class="col-md-4"></div>
  	<div class="col-md-4">
  		<div class="form-group">
  			<input type="text" class="form-control input-lg text-center" placeholder="E-mail" ng-model="formData.email">
  			<input type="text" class="form-control input-lg text-center" placeholder="Passord" ng-model="formData.pw">
  		</div>
  		<button type="submit" class="btn btn-primary btn-lg" ng-click="checkAuth()"></button>
  	</div>
  	<div class="col-md-4"></div>
  </div>
</div>